<a href="https://colab.research.google.com/github/tomdeb88/Data_Science_practise/blob/main/Pandas/CSV_import_export.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* @author: krakowiakpawel9@gmail.com  
* @site: e-smartdata.org

### Pandas
>Strona biblioteki: [https://pandas.pydata.org/](https://pandas.pydata.org/)  
>Dokumentacja: [https://pandas.pydata.org/pandas-docs/stable/](https://pandas.pydata.org/pandas-docs/stable/)
>
>Podstawowa biblioteka do analizy danych w języku Python.
>
>Aby zainstalować bibliotekę Pandas użyj polecenia poniżej:
```
pip install pandas
```
### Spis treści:
1. [Import bibliotek](#a1)
2. [Załadowanie danych](#a2)
3. [Zapis/Odczyt danych z pliku CSV](#a3)
4. [London Bike Dataset](#a4)

### <a name='a1'></a> Import bibliotek

In [5]:
import numpy as np
import pandas as pd

### <a name='a2'></a> Załadowanie danych

In [16]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetch stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data('FB')
df.head()

Empty DataFrame
Columns: []
Index: []

### <a name='a3'></a> Zapis/Odczyt danych z pliku CSV

In [7]:
df.to_csv('fb.csv')

In [17]:
df

Empty DataFrame
Columns: []
Index: []

In [14]:
df_nov = df[(df.index.month == 11) & (df.index.year == 2019)]
df_nov

AttributeError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df_nov.to_csv('fb_nov.csv')

In [ ]:
new_df = pd.read_csv('fb_nov.csv', index_col=0)
new_df

In [ ]:
df_nov.to_excel('fb_nov.xlsx')

In [ ]:
new_df = pd.read_excel('fb_nov.xlsx', index_col=0)
new_df

### <a name='a4'></a> London Bike Dataset

In [ ]:
df = pd.read_csv('london_bike.csv')
df.head()

In [ ]:
df = df.set_index('timestamp')
df.head()

In [ ]:
df.info()